

@import "tailwindcss";
@plugin 'lightswind/plugin';

:root {
  --background: #0b0909;
  --foreground: #1e795b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171212;
    --foreground: #8b33a8;
  }
}
        
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

